ul {
    list-style: none;
    display: inline-flex;
}

.header-logo {
    color: $btnText;
}

.image-logo {
    width: 200px;
    height: 75px;
    object-fit: contain;
}

.span-header {
    color: $btnText;
    text-align: center;
    display: block;
    width: calc(100% + 10px);
}

.link-header {
    width: calc(100% + 10px);
}

.container {
    display: inline-flex;
    align-items: center;
    margin: 0 10%;
}

.nav-header {
    display: flex !important;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between!important;
}

.margin-right-10 {
    margin: 0 10% 0 0;
}

.float-left {
    float: left;
}

.float-rigth {
    float: right;
}

.margin-1rem {
    margin: 0 1rem;
}
