ul {
    list-style: none;
    display: contents;
}

.header-logo {
    color: $btnText;
}

.image-logo {
    width: 250px;
    height: 75px;
    object-fit: contain;
}

.span-header {
    color: $btnText;
    text-align: center;
    display: block;
}

.link-header {
    width: calc(100% + 10px);
}

.container {
    display: inline-flex;
    align-items: center;
    margin: 0 2%;
}

.nav-header {
    display: flex !important;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between!important;
}

.margin-right-10 {
    margin: 0 10% 0 0;
}

.float-left {
    float: left;
}

.float-rigth {
    float: right;
}

.margin-1rem {
    margin: auto 1rem;
}

.menu-header {
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bg-color-indigo {
    background-color: indigo;
}

.profile-item {
    height: 35px;
    width: 35px;
    border: 2px solid white;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    display: block;
    right: -25px;
    top: 40px;
    border: 1px solid;
    padding: 5px;
    background: indigo;
    border-radius: 4px;
}

.dropdown-menu-item {
    white-space: nowrap;
}

.profile-link::before {
    content: '\e87c';
    font-family: 'Material Icons' !important;
    color: white;
    vertical-align: bottom;
    margin-right: 5px;
}

.logout-link::before {
    content: '\e8ac';
    font-family: 'Material Icons' !important;
    color: white;
    vertical-align: bottom;
    margin-right: 5px;
}

.img-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.img-profile-large {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.img-profile-wrapper {
    width: 100px;
    height: 140px;
    margin: 0 auto;
}
