.welcome-title {
    font-size: 7vw;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 6px #000;
}

.sub-title {
    text-align: center;
    color: white;
    font-size: 3vw;
    font-weight: 300;
    text-shadow: 2px 2px 6px #000;
}