// Colors
$btnText: #000;
$btn-save-color: #6200ee;
$purple:#a64bf4;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$x1-size: 4.8rem;
$desktop-breakpoint: 45rem;
// Buttons sizes
$btn-r-size: .875rem;
// Letter spacing
$r-letter-space: .089em;
// Imagess
$bg-img: url('/images/background.jpg');